 *{
	margin: 1px;
	padding: 1px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.main{
	max-width: 100%;
	height: auto;
	background-color: #fff;
}
nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}
.logo{
	float: left;
	line-height: 100px;
}
.slider{
	width: 100%;
	height: 430px;
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	transition:1.6s all;
}
.slider.title{
	width: 40%;
	height: auto;
	position: absolute;
	left: 18.5%;
}
.slider.title h1{
	font-size: 37px;
	color:;
	line-height: 45px;
}
.slider.title h1 span{
	color: #01d7a7 ! important;
}
.slider.title p{
	font-size: 15px;
	color: #fff;
	line-height: 21px;
	margin-top: 20px;
	margin-right: 30px;
}
.slider .title .btn{
	color: #fff;
	background-color: #01d7a7;
	border-radius: 30px;
	padding: 20px 20px;
	text-align: center;
	Letter-spacing: 1px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 16px;
	display: inline-block;
	font-size: 16px;
	margin-top: 100px;
	transition: 1s all;
}
.slider.title.btn:hover{
	background-color: #272727;
}
.flex-container{
	margin-top: 80px;
	clear:both;
	flex-direction: left;
}
.main.flex-container.flex-items{
	width: 20%;
	display:inline-block;
	text-align:center;
	margin-left:46px;
}
.main .flex-container .flex-items h5{
	font-size: 18px;
	Letter-spacing: 0.5px;
	margin: 20px 0px;
}
.main .flex-container .flex-items p{
	color: #727272;
}
.main .flex-container .flex-items .text-blue{
	font-size: 40px;
	color: #3278fa !important;
}
.flex-items2{
	width: 33.06%;
	height: auto;
	float: left;
	padding: 0 15px;
}
.flex-items2 h6{
	Letter-spacing: 3px;
	font-size: 16px;
	margin-bottom: 15px;
	color: #3278fa;
}
.flex-items2 h3{
	color: #272727;
	font-size: 27px;
	line-height: 35px;
	Letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.flex-items2 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}
.flex-items2 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
}
.flex-items2 .zoom img{
	max-width: 100%;
}
.title-line{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}
.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.para{
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px;
}
.margin-top-1{
	float: left;
	margin-top: 10px;
	width: 100%;
}
.who-we-are{
	width: 100%;
	padding: 72px 0px 72px 0px;
	background-image: url(../img/4.jpg);
	background-size: cover;
	clear: both;
	float: left;
}
.who-we-are .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	Letter-spacing: 0.5px;
	text-align: center;
	color: #fff;
}
.who-we-are .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #fff;
}
.who-we-are .col-1{
	width: 33.333%;
	float: left;
	padding: 0 15px;
	margin-top: 60px;
}
.who-we-are .col-1 img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.who-we-are .col-1 .text-box{
	padding: 10%;
	background-color: #f3f3f3;
	width: 100%;
	text-align: center;
}
.who-we-are .col-1 .text-box h4{
	margin-bottom: 9px;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 25px;
	letter-spacing:0.5px;
}
.who-we-are .col-1 .text-box p{
	color: #727272;
	line-height: 23px;
	text-align: center;
	margin: 0 0 10px;
	font-size: 14px;
}
.full-dark{
	width: 100%;
	padding: 72px 0 72px 0;
	background-color: #121212;
	float: left;
	clear: both;
}
.full-dark .col-md-1{
	width: 33.333%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 40px;
}
.full-dark .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	color: #01d7a7 !important;
	font-size: 32px;
}
.full-dark .col-md-1 .text-box-1{
	padding: 0px 0px 0px 60px;
	display: block;
}
.full-dark .col-md-1 .text-box-1 h5{

	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #fff;
	margin-bottom: 5px;
}
.full-dark .col-md-1 .text-box-1 p{
	font-size: 14px;
	margin: 0px 0px 10px;
	line-height: 23px;
	color: #fff;
	opacity: 0.5;
}
.full-light{
	width: 100%;
	padding: 72px 0px 72px 0px;
	float: left;
	clear: both;
	display: block;
	background-color: #f3f3f3;
}
.full-light .heading{
	padding-bottom: 40px;
}
.full-light .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #272727;
}
.full-light .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #727272;
	font-size: 14px;
}
.full-light .col-md-2{
	width: 25%;
	float: left;
	padding: 0 15px;
}
	
.full-light .col-md-2 .inner{
	padding: 20px;
	text-align:center;
	font-size: 14px;
	background-color: #fff;
}
.full-light .col-md-2 .inner img{
	max-width: 33.333%;
	height: auto;
	margin-bottom: 20px;
	vertical-align: middle;
}
.full-light .col-md-2 .inner h6{
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
}

.full-light .col-md-2 .inner p{
	line-height: 23px;
	color: #727272;
	margin: 0 0 10px;
}
.parallax{
	width: 100%;
	padding: 100px 0 90px 0;
	background: url(../img/12.jpg) 50% 0 no-repeat fixed;
	float: left;
    clear: both;
}
.parallax .main .heading h2{
	font-size: 35px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}
.parallax .main .heading p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.parallax .main .col-md-1 {
	width:33.333%;
	float: left;
	color: #fff;
	margin-top: 60px;
}

.parallax .main .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	font-size: 32px;
}
.parallax .main .col-md-1 .text-box-1 {
	padding: 0 0 0 60px;
	display: block;
	width: 83.333%;
}
.parallax .main .col-md-1 .text-box-1 h5{
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.parallax .main .col-md-1 .text-box-1 p{
	font-size: 14px;
	margin: 0 0 10px;
	line-height: 23px;
}